<div class="container">

    <div class="pictureContainer">
      
      <div class="pictures">
          <div class="headerImage" [style.backgroundImage]="'url('+ image1 +')'" ></div>
          <div class="headerImage" [style.backgroundImage]="'url('+ image2 +')'"></div>
          <div class="headerImage" [style.backgroundImage]="'url('+ image3 +')'"></div>
      </div>
     
    </div>
  
    <hr>
    
    <h2>{{placeName}}</h2>
    
    <div class="stars" >
      <app-rating [rating]="averageRating" ></app-rating> 
      <div class="numberOfReviews">{{numberOfReviews}} Review{{numberOfReviews > 1 ? 's' : ''}} </div>
    </div> 
  
  <div id="map"></div>
  
  </div>