


.input{
    text-align: left;
    border:0;
    border: 0px solid transparent;
    
    padding-left: .05em;
    
    background-color: transparent;
    color: var(--textColor);
    width:100%;
    font-size: 1.25em;
}

.input:focus {outline:0;}

