

.container{
    width: 100%;
    padding: .5em;
    background-color: black;
    font-size: 1.5em;

    --textColor: white;
    --hoverColor:rgba(245, 244, 247, 0.801);
}

.brand {
    float:left;
    margin-left:3%;
    color: var(--textColor);
}

.menuItems{
    float:right;
    margin-right:3%;
    color: var(--textColor);
}

a {
    padding: .5em;
    color: var(--textColor);
    -webkit-transition:  .25s; /* Safari */
    transition:  .25s;
}
a:visited, a:link, a:active{
    text-decoration: none;
}
a:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}



@media screen and (max-width: 725px) {
      
    .brand{
        display: none;
    }
    .menuItems{
      float: none;
      margin-right: auto;
      margin-left: auto;
      width:400px;
  }
}


  @media screen and (max-width: 380px) and (orientation: portrait) {

    .container {
        font-size: 1em;
      }
    .brand{
        display: none;
    }
    .menuItems{
        float: none;
        margin-right: auto;
        margin-left: auto;
        width:335px;
  }
}