
<div class="container">

    <div class="title">{{title}}</div>
    
    <br/>
    
    <input type="text" class="email" [(ngModel)]="username" [class.error]="showEmailError" placeholder="Email Address" onfocus="this.placeholder=''">
    <div class="emailErrorMessage">{{emailErrorMessage}}</div>

    <input type="password" class="password" [(ngModel)]="password" [class.error]="showPasswordError" placeholder="Password" onfocus="this.placeholder=''"(keyup.enter) = "pressedEnter()" >
    <div class="passwordHelp">
        <div class="passwordErrorMessage">{{passwordErrorMessage}}</div>
        <div class="forgot" [ngClass]="hideForgot ? 'hideForgot' : ''" routerLink="/forgotPassword" >Forgot Password ?</div>
    </div>
    
    <br/>
<!--
    <app-button [title] = "buttonTitle" (emitter)="emit($event)" ></app-button>
  -->
    <app-button [title] = "buttonTitle" (emitter)="emit()" ></app-button>

</div>