.container {
    position: relative;
    top:7em;
    width:90%;
    margin-left: auto;
    margin-right:auto;
    max-width: 38em;
    color: var(--textColor);
}



.title {
    font-size: 3.5em;
    text-align: center;
    color: var(--textColor);
}

input {
    box-sizing: border-box; 
    width:100%;
    font-size: 1.5em;
    padding:.5em;
    margin-top:.75em;
    margin-bottom: .75em;
    padding-left: 2em;
    border:0;
    background-color: var(--inputBackgroundColor);
    background-repeat: no-repeat;
    background-position: .5em .65em;
    border-radius: var(--borderRadius);
    color: var(--textColor);
}
input:focus {outline:0;}

.email{
    background-image: url('../../assets/email.png');
}
.emailErrorMessage{
    float:left;
    margin-top:-.75em;
    min-width: 66%;
    color: rgb(139, 11, 11);
}

.password {
    background-image: url('../../assets/password.png');
}
.passwordHelp{
    display: flex;
    flex-direction: row;
    
}
.passwordErrorMessage{
    float:left;
    margin-top:-.75em;
    width:55%;
    min-width: 55%;
    color: rgb(139, 11, 11);
}

.forgot {
    float:right;
    box-sizing: border-box; 
    width:45%;
    min-width:45%;
    text-align: right;
    margin-top:-.75em;
    cursor: pointer;
    color: var(--textColor);
}
.hideForgot {
    visibility: hidden;
}


.error{
    border: 1px solid rgb(139, 11, 11);
}
.show {
    display: inline;
}

@media screen and (max-width: 640px) {
   
    .container {
        top:4.5em;
        padding-top: 3.5em;
        background-color: var(--buttonBackgroundColor);
        padding-bottom: 3.5em;
    }

}

@media screen and (max-width: 361px) and (orientation: portrait) {
    
}