
<div class="container">

    <div class="box">
  
      <h2>Enter Email to Reset Password</h2>
      <input type="text" class="email" [(ngModel)]="username" [class.error]="showEmailError" (keyup.enter) = "clickHandler()" placeholder="Email Address" onfocus="this.placeholder=''">
      <div class="emailErrorMessage">{{emailErrorMessage}}</div>
  
      <br/>
      <div (click) = "clickHandler()" > 
          <app-button [title] = "'Reset Password'" ></app-button>
      </div>
  
    </div>
  </div>