.container {
    position:absolute;
    top:7em;
    width:100%;
    color: var(--textColor);
}

.box{
    margin-right: auto;
    margin-left: auto;
    width:25em;
    position:relative;
}

h2 {
    margin-bottom: -.25em;
    margin-left: .25em;
}

input {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width:85%;
    font-size: 1.5em;
    padding:.5em;
    margin-top:.75em;
    margin-bottom: .75em;
    padding-left: 2em;
    border:0;
    background-color: var(--inputBackgroundColor);
    background-repeat: no-repeat;
    background-position: .5em .65em;
    border-radius: var(--borderRadius);
    color: var(--textColor);
}
input:focus {outline:0;}

.email{
    background-image: url('../../assets/email.png');
}
.emailErrorMessage{
    float:left;
    margin-top:-.75em;
    min-width: 66%;
    color: rgb(139, 11, 11);
}

.error{
    border: 1px solid rgb(139, 11, 11);
}
.show {
    display: inline;
}
.hide{
    display: none;
}

@media screen and (max-width: 640px) {
   
}

@media screen and (max-width: 380px) and (orientation: portrait) {
    
}