
.container {
    position: relative;
    width:90%;
    min-width: 45em;
    max-width: 50em;
    margin-right: auto;
    margin-left: auto;
    background-color:var(--buttonBackgroundColor);
    color: var(--textColor);
    border-radius: 10px;
    border:1px solid transparent;
    margin-bottom: 2em;
}

.title{
    font-size: 1.5em;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 1.5%;
    padding-left: .25em;
}

/* start reviews */
.reviews{
    border-top: 3px solid var(--textColor);
    padding-top: 1em;
    padding-bottom: .5em;
    width:95%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

/* start user */
.user{
    width:7em;
    min-width: 7em;
    max-width: 7em;
    cursor: pointer;
}
.user:focus{
    outline:0;
}
.userImage{
    max-width: 6em;
    max-height: 6em;
    border-radius: 7px;

    height:6em;
    width:6em;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.containingDiv{
    max-width: 6em;
    max-height: 6em;
    border-radius: 7px;

    height:6em;
    width:6em;
}
.containingDiv img {
    max-width: 6em;
    max-height: 6em;
    margin-right: auto;
    margin-left: auto;
    border-radius: .5em;
}
.hide{
    visibility: hidden;
}



.name{
    max-width: 6em;
    margin-top: .25em;
    overflow-wrap: break-word;
}
.commentIcon{
    margin-top: .25em;
    background-image: url('../../assets/comment.png');
    background-repeat: no-repeat;
    height:1.5em;
    padding-left: 2.5em;
    padding-top: .5em;
    font-size: .75em;
}
/* end user */

/* start review details */
.reviewDetails{
    display:flex;
    flex-direction: column;
}

/* start starsAndDate */
.starsAndDate{
    display:flex;
    flex-direction: row;
}
.stars{
    font-size: 1.75em;
    pointer-events:none;
    margin-left: -.5em;
}
.date{
    padding-top: 1em;
    font-size: 1em;
    margin-left: -.75em;
}
/* end starsAndDate */

.ratings{
    display:flex;
    flex-direction: row;
    width:100%;
    margin-top: .5em;
    margin-bottom: .25em;
    font-size: .95em;
}

.words{
    margin-top: 1em;
}

/* end reviews */


@media screen and (max-width: 730px) {
    
    .container {
        width:100%;
        min-width: 1em;
        max-width: 500em;
        border-radius: 0px;
        border:1px solid transparent;
        margin-bottom: -1em;
        top:-1em;

    }

    .stars{
        font-size: 1.5em;
    }
    .date{
        padding-top: .6em;
        font-size: 1em;
    }
    .ratings{
        font-size: .9em;
    }

}

@media screen and (max-width: 415px) {
    .date{
        padding-top: .66em;
        margin-left: -.5em;
    }
}

@media screen and (max-width: 376px) {
    .stars{
        font-size: 1.25em;
    }
    .date{
        padding-top: .75em;
        font-size: .85em;
    }
    .ratings{
        font-size: .85em;
    }
    .words{
        font-size: .85em;
    }
}

@media screen and (max-width: 361px) {
  
    .date{
        margin-left: -.5em;
        padding-top: .7em;
        font-size: .8em;
    }
    .ratings{
        font-size: .8em;
    }
    .words{
        font-size: .8em;
    }
}

@media screen and (max-width: 321px) {
    /* start user */
.user{
    width:6em;
    min-width: 6em;
    max-width: 6em;
}
.userImage{
    max-width: 5em;
    max-height: 5em;
    height:5em;
    width:5em;
}


.containingDiv{
    max-width: 5em;
    max-height: 5em;
    height:5em;
    width:5em;
}
.containingDiv img {
    max-width: 5em;
    max-height: 5em;
}

.name{
    max-width: 5em;
    margin-top: .25em;
    font-size: 10px !important;
}
.commentIcon{
    margin-top: .25em;
    background-image: url('../../assets/commentSmall.png');
    background-repeat: no-repeat;
    height:1.5em;
    padding-left: 1.7em;
    padding-top: .25em;
    font-size: 10px !important;
}
.words{
    margin-top: .75em;
    font-size: .75em;
}
.ratings{
    font-size: .7em;
}
}



