
<div class="bar">
    <div class="container">

        <div class="burger" (click)="isChecked = !isChecked" >
            <div class="top"    [ngClass]="isChecked ? 'topRotate' : ''"></div>
            <div class="middle" [ngClass]="isChecked ? 'middleShow' : ''" ></div>
            <div class="bottom" [ngClass]="isChecked ? 'bottomRotate' : ''"></div>
        </div>

        <div class="userInfo">

            <div class="profile noOutline" routerLink = "profile/{{user['email']}}"  [ngClass]="displayName ? '' : 'hide'" (click)="isChecked = false">{{displayName}} </div>

            <div class="signin noOutline"   routerLink = "signIn"   [ngClass]="displayName ? 'hide' : ''" (click)="isChecked = false">sign in</div>
            <div class="register noOutline" routerLink = "register" [ngClass]="displayName ? 'hide' : ''" (click)="isChecked = false">register</div>
        
        </div>

    </div>

    <div class = "burgerMenu" [ngClass]="isChecked ? 'burgerMenuExpand' : ''">

            <div class="links">
                    <div class="link noOutline" routerLink = "viewRatings" (click)="isChecked = false" >view ratings</div>
                    <div class="link noOutline" routerLink = "addRating" (click)="isChecked = false" [ngClass]="displayName ? '' : 'hide'" >add rating</div>
               <!--     
                    <div class="link noOutline" routerLink = "search" (click)="isChecked = false" >search</div>
            -->
                    <div class="link noOutline" routerLink = "profile/{{user['email']}}"  (click)="isChecked = false" [ngClass]="displayName ? '' : 'hide'"  >view profile</div>
                    <div class="link noOutline" (click)="signOut()" (click)="isChecked = false" [ngClass]="displayName ? '' : 'hide'" >sign out</div>
            </div>
                
        </div>

</div>








 


